<nav>
    <div class='logo'>
        Techshop
    </div>
    <ul>
        <li> <a href='/items'>All items </a></li>
        <li> <a href='/'>Categories</a></li>
        <li> <a href='/items/create'>Place item </a></li>
    </ul>
</nav>