<div class='form-div'>
    <form method='POST' action='/categories/create' enctype="multipart/form-data">
        <label for="name">Category title</label>
        <input type='text' name='name'>
        <label for="description">Category description</label>
        <input type='text' name='description'>
        <input type='file' name='img'>
        <button type='submit' class='btn btn-create'>Create</button>
    </form>
</div>