<div class='form-div'>
    <form method='POST' action='/items/create'>
        <label for="name">Product title</label>
        <input type='text' name='name'>
        <label for="description">Product description</label>
        <input type='text' name='description'>
        <label for='category'>Category</label>
        <p><select name='category'>
                {{#each categories}}
                <option name='{{name}}' value='{{_id}}'>{{name}}</option>
                {{/each}}
            </select></p>
        <label for='price'>Price in $</label>
        <input type='number' name='price'>
        <label for='inStock'>Quantity</label>
        <input type='number' name='inStock'>
        <button type='submit' class='btn btn-create'>Create</button>

    </form>
</div>