<div class='category-container'>
    {{#each categories}}
    <div class='category-item'>
        <a href='/categories/{{_id}}' class='item-span-name'>{{name}}</a>
        <span class='item-span-description'>{{description}}</span>
    </div>
    {{/each}}
</div>